<!-- Header -->
<header class="header trans_300">
    <div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">
								<li class="currency">
									<a href="#">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a href="#">cad</a></li>
										<li><a href="#">aud</a></li>
										<li><a href="#">eur</a></li>
										<li><a href="#">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="{{url_for('user_logout')}}">Vietnamese</a></li>
										<li><a href="{{url_for('user_logout')}}">English</a></li>

									</ul>
								</li>
								<li class="account">
									<a href="#">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									 {% if user is none %}
                                    <ul class="account_selection">
                                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a>
                                        </li>
                                    </ul>
                                    {% else %}
                                    <ul class="account_selection">
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a></li>
                                        <li><a href="{{url_for('user_logout')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>Logout</a>
                                        </li>
                                    </ul>
                                    {% endif %}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    <!-- Main Navigation -->
    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <a href="#">Cosmic<span>Store</span></a>
                    </div>
                    <nav class="navbar">
                        <ul class="navbar_menu">
                            <li><a href="{{ url_for('home')}}">home</a></li>
                            <li><a href="{{ url_for('view_categories')}}">shop</a></li>
                            <li><a href="#">promotion</a></li>
                            <li><a href="#">pages</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                        <ul class="navbar_user">
                            <li class="search-container">
                                <a href="#" id="search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <div class="search-box" id="search-box">
                                    <input type="text" placeholder="Search...">
                                    <button type="button" id="search-btn">Search</button>
                                </div>
                            </li>
                             {% if user %}
                            <li class="user-menu">
                                <a href="#">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="user-text">{{user.name}}</span>
                                </a>
                            </li>
                             {% else %}
                            <li class="user-menu">
                                <a href="{{url_for('show_login')}}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="user-text">Đăng nhập</span>
                                </a>
                            </li>
                             {% endif %}
                            <li class="checkout">
                                <a href="{{url_for('view_cart')}}">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    {% if countCart %}
                                    <span id="checkout_items" class="checkout_items">{{countCart}}</span>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                        <div class="hamburger_container">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>