<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap4/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">

</head>

<body>

<div class="super_container">

	<!-- Header -->

	 <header class="header trans_300">

        <!-- Top Navigation -->

        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left"></div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">

                                <!-- Currency / Language / My Account -->

                                <li class="currency">
                                    <a href="#">
                                        usd
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="currency_selection">
                                        <li><a href="#">cad</a></li>
                                        <li><a href="#">aud</a></li>
                                        <li><a href="#">eur</a></li>
                                        <li><a href="#">gbp</a></li>
                                    </ul>
                                </li>
                                <li class="language">
                                    <a href="#">
                                        English
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="language_selection">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Italian</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                                <li class="account">
                                    <a href="#">
                                        My Account
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    {% if user is none %}
                                    <ul class="account_selection">
                                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-sign-in"
                                                                                   aria-hidden="true"></i>Sign In</a>
                                        </li>
                                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-user-plus"
                                                                                   aria-hidden="true"></i>Register</a>
                                        </li>
                                    </ul>
                                    {% else %}
                                    <ul class="account_selection">
                                        <li><a href="{{url_for('view_profile')}}"><i class="fa fa-sign-in"
                                                                                     aria-hidden="true"></i>Profile</a>
                                        </li>
                                        <li><a href="{{url_for('user_logout')}}"><i class="fa fa-user-plus"
                                                                                    aria-hidden="true"></i>Logout</a>
                                        </li>
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="{{url_for('home')}}">colo<span>shop</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a href="{{url_for('home')}}">home</a></li>
                                <li><a href="{{url_for('view_categories')}}">shop</a></li>
                                <li><a href="#">promotion</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="{{url_for('view_blog')}}">blog</a></li>
                                <li><a href="{{url_for('view_contact')}}">contact</a></li>
                            </ul>
                            <ul class="navbar_user">
                                <li class="search-container">
                                    <a href="#" id="search-icon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <div class="search-box" id="search-box">
                                        <input type="text" placeholder="Search...">
                                        <button type="button" id="search-btn">Search</button>
                                    </div>
                                </li>
                                {% if user %}
                                <li class="user-menu">
                                    <a href="{{url_for('view_profile')}}">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="user-text">{{user.name}}</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="user-menu">
                                    <a href="{{url_for('show_login')}}">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="user-text">Đăng nhập</span>
                                    </a>
                                </li>
                                {% endif %}

                                <li class="checkout">
                                    <a href="{{url_for('view_cart')}}">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                      {% if countCart %}
                                    <span id="checkout_items" class="checkout_items">{{countCart}}</span>
                                    {% endif %}
                                    </a>
                                </li>
                            </ul>
                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="fs_menu_overlay"></div>
    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="#">
                        usd
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">cad</a></li>
                        <li><a href="#">aud</a></li>
                        <li><a href="#">eur</a></li>
                        <li><a href="#">gbp</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        English
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">French</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                    </a>
                    {% if user is none %}
                    <ul class="account_selection">
                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a>
                        </li>
                        <li><a href="{{url_for('show_login')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="account_selection">
                        <li><a href="{{url_for('view_profile')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a>
                        </li>
                        <li><a href="{{url_for('user_logout')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>Logout</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                <li class="menu_item"><a href="{{url_for('home')}}">home</a></li>
                <li class="menu_item"><a href="{{url_for('view_categories')}}">shop</a></li>
                <li class="menu_item"><a href="#">promotion</a></li>
                <li class="menu_item"><a href="#">pages</a></li>
                <li class="menu_item"><a href="{{url_for('view_blog')}}">blog</a></li>
                <li class="menu_item"><a href="{{url_for('view_contact')}}">contact</a></li>
            </ul>
        </div>
    </div>

		<div class="bloger-one" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ url_for('static', filename='images/about-us.jpg') }}') center/cover no-repeat fixed;">
			<div class = "banner">
			<div class = "container">
				<h1 class="Bloger-h1"> Blog</h1>
			  <h1 class = "banner-title">
				<span>Cosmic Store</span>
			  </h1>
			  <p>Traditional in-store shopping where customers physically visit stores to browse and purchase items.</p>
			  <form>
				<input type = "text" class = "search-input" placeholder="find your food . . .">
				<button type = "submit" class = "search-btn">
				  <i class = "fas fa-search"></i>
				</button>
			  </form>
			</div>
		  </div>
		</div>

		<!-- design -->
		<section class = "design" id = "design">
		  <div class = "container">
			<div class = "title">
			  <h2>Recent Fashion & Design</h2>
			  <p>Recent Fashion & Design on the Blog</p>
			</div>

			<div class = "design-content">
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/blog-9.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 25</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Discover the latest trends in men's fashion and elevate your style with our curated collection.</a>
				</div>
			  </div>
			  <!-- end of item -->
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/blog-8.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 16</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Unlock your true potential with stylish and versatile men's wear designed for every occasion.</a>
				</div>
			  </div>
			  <!-- end of item -->
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/blog-6.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 22</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Explore our premium selection of men's fashion essentials, perfect for modern gentlemen.</a>
				</div>
			  </div>
			  <!-- end of item -->
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/blog-3.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 12</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Stay ahead of the curve with our exclusive range of men's fashion that blends comfort and style.</a>
				</div>
			  </div>
			  <!-- end of item -->
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/banner_2.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 9</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Transform your wardrobe with our contemporary men's fashion pieces, crafted for the confident man.</a>
				</div>
			  </div>
			  <!-- end of item -->
			  <!-- item -->
			  <div class = "design-item">
				<div class = "design-img">
				  <img src = "{{ url_for('static', filename='images/blog-2.jpg') }}" alt = "">
				  <span><i class = "far fa-heart"></i> 39</span>
				  <span>Art & Design</span>
				</div>
				<div class = "design-title">
				  <a href = "#">Find the perfect balance of sophistication and comfort with our men's fashion collection.</a>
				</div>
			  </div>
			  <!-- end of item -->
			</div>
		  </div>
		</section>
		<!-- end of design -->




		<!-- about -->
		<section class = "about" id = "about">
		  <div class = "container">
			<div class = "about-content">
			  <div class="about-img">
				<img src = "{{ url_for('static', filename='images/blog-6.jpg') }}" alt = "">
			  </div>
			  <div class = "about-text">
				<div class = "title">
				  <h2>Cosmic Store</h2>
				  <p>art & design is my passion</p>
				</div>
				<p>
					At Cosmic, "Art & Design is My Passion", we believe that every fashion item is not just a product but also a work of art. We are passionate about creating and designing, bringing you outfits that are not only beautiful but also express your personality and style.
				</p>
				<p>
					We offer a rich collection of clothing products, from modern designs to classic styles. Each product is meticulously cared for, with high-quality materials and unique designs, to bring you the ultimate comfort and style.
				</p>


			  </div>
			</div>
		  </div>
		</section>
    </div>
		<!-- end of about -->










	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">

                    <p>We prioritize creating a personalized shopping experience for every customer, ensuring that every
                        visit feels unique and special.</p>
                    <i>Address :<a href="index.html">shoppingnow@gmail.com</a></i>

                    <a href="#"><img src="{{ url_for('static', filename='images/icons/payment.png') }}"
                                     alt="Payment Methods"></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Customer Service</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Newsletter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>Welcome to our shopping page
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="index.html" target="_blank">Cosmic
                            Store</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/bootstrap4/popper.js') }}"></script>
<script src="{{ url_for('static', filename='css/bootstrap4/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/Isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/blog.js') }}"></script>
</body>

</html>
