{% extends 'layout/base.html' %}
{% block content %}
<div class="backgound-chatbox">
    <div id="chat-container" style="margin-top:150px">

        <div id="chat-box">
            <h2 class=" helle2" style="text-align:center;">Liên hệ với Cosmic Store</h2>
            <div id="messages"></div>
            <div id="input-area">
                <input type="text" id="message-input" placeholder="Nhập tin nhắn...">
                <button id="send-button">Gửi</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}




