<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác Nhận Thanh Toán</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ordersummary.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Xác Nhận Thanh Toán</h1>
        </header>
        <main>
            <section>
                <h2>Thông Tin Thanh Toán</h2>
                <p>Số tiền: {{ amount }} VND</p>
                <p>Mã giao dịch: {{ transaction_ref }}</p>
                <p>Đơn hàng của bạn sẽ được thanh toán qua VNPay.</p>
               <form action="/process_payment" method="POST">
                <input type="hidden" name="amount" value="{{ amount }}">
                <input type="hidden" name="transaction_ref" value="{{ transaction_ref }}">
                <input type="hidden" name="bank_code" value="{{ bank_code }}">
                <button type="submit">Xác Nhận Thanh Toán</button>
            </form>

                <a href="/">Quay lại trang chủ</a>
            </section>
        </main>
        <footer>
            <p>Thanh toán thuận tiện với VNPAY</p>
        </footer>
    </div>
</body>
</html>
