{% extends 'layout/base.html' %}
{% block content %}


 <div class="container-ppt-profile">
    <div class="container-nabar-profile">
        <div class="navbar-translate-profile">
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-brand-profile">Cosmic</div>
                <button class="navbar-toggler-profile" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <div class="navbar-toggler-icon-profile"></div>
                    <div class="navbar-toggler-icon-profile"></div>
                    <div class="navbar-toggler-icon-profile"></div>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav-profile">
                        <li class="nav-item-profile">
                            <a class="nav-link-profile" href="#">Home</a>
                        </li>
                        <li class="nav-item-profile">
                            <a class="nav-link-profile" href="#">About</a>
                        </li>
                        <li class="nav-item-profile">
                            <a class="nav-link-profile" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="align-items-center-profile">
        <div class="profile-container-profile">
            <div class="profile-profile">
                <div class="avatar-profile">
                    <img src="avatar.jpg" alt="Avatar">
                </div>
                <div class="name-profile">
                    <h3>John Doe</h3>
                    <h6>Software Developer</h6>
                </div>
                <div class="description-profile">
                    <p>Passionate about coding and technology.</p>
                </div>
                <div class="btn-just-icon-profile btn-facebook-profile"><i class="fab fa-facebook-f"></i></div>
                <div class="btn-just-icon-profile btn-google-profile"><i class="fab fa-google"></i></div>
                <div class="btn-just-icon-profile btn-twitter-profile"><i class="fab fa-twitter"></i></div>
            </div>
            <div class="personal-info-profile">
                <h2>Personal Information</h2>
                <form id="profile-form-profile">
                    <label for="name">Name</label>
                    <input type="text" id="name" value="John Doe" readonly>
                    <label for="email">Email</label>
                    <input type="text" id="email" value="john.doe@example.com" readonly>
                    <button type="button">Edit Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}