<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Payment</title>
</head>
<body>
    <h1>Quét mã QR để thanh toán</h1>
    <section class="qr-code">
        <h2>Quét mã QR để thanh toán</h2>
        <div id="qrCodeContainer">
            <img src="{{ url_for('generate_qr', amount=amount, transaction_ref=transaction_ref, bank_code=bank_code) }}" alt="QR Code">
        </div>
    </section>
</body>
</html>
