{% extends 'layout/base.html' %}
{% block content %}
<div class="success-container" style="margin-top: 200px;">
        <div class="success-message">
            <!-- Icon thành công -->
            <div class="icon-container">
                <i class="fas fa-check-circle"></i>
            </div>
            <h3>Đặt Hàng Thành Công!</h3>
            <p>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi.</p>




            <!-- Nút quay lại trang chủ và xem chi tiết đơn hàng -->
            <div class="button-container">
                <a href="/" class="btn-susscess">Quay lại Trang Chủ</a>

            </div>
        </div>
    </div>
<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}



